ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFE699;
  display: inline-block;
  width: 100%;
}

li.navbar{
  float: right;
  display: block;
}

.navbar_hover:hover{
  background-color: rgb(107, 93, 93);
}