{% block content %}
<div class="modal fade" id="login_popup" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Login</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="login_form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <p style="text-align: center; margin-bottom: 10px;">
            Username: <input type="text" id="username"/>
          </p>
          <p style="text-align: center;">
            &nbsp;Password: <input type="password" id="password"/>
          </p>
          <div id="login_status_detail" hidden>
            <hr style="width: 70%;">
            <p style="text-align: center; color: red;"><small id="login_status"></small></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // login modal
  $(window).on('load', function(){
    if("{{ user.is_authenticated }}" == "False"){
      $('#login_popup').modal('show');
    }
    else{
      $('#login_popup').modal('hide');
    }
  });

  $(document).on('submit', '#login_form', function(e){
    e.preventDefault();
    loading_page(true);
    $('#login_popup').modal('hide');
    
    $.ajax(
      {
      type: "POST",
      url : "{% url 'login' %}",
      dataType: "json",
      data: {
        username           : $('#username').val(),
        password           : $('#password').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(json){
        if(json.result != "success"){
          loading_page(false);
          $('#login_status').html(json.result);
          $('#login_status_detail').attr("hidden", false);
          $('#login_popup').modal('show');
        }
        else{
          window.location.reload();
        }
      },
      error: function(){
        window.location.reload();
        alert("Oops!. Something went wrong, Please try again.");
      }
    });
  });
  // login modal
</script>
{% endblock content %}
